@{
    ViewData["Title"] = "Purchase";
}

<div class="text-center">
    <h1 class="display-4">Purchase</h1>
</div>

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Comments</span>
    </div>
    <textarea class="form-control" aria-label="With textarea"></textarea>
</div>