@{
    ViewData["Title"] = "Approve";
}

<script src="~/js/confirm.js" type="text/javascript"></script>

<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            PO@(ViewContext.RouteData.Values["Id"])
        </a>
    </nav>
    <table class='table table-bordered table-condensed table-striped table-hover' id="tableOrderPart" style="display:none;">
        <tr><th>Part Id</th><th>Part Name</th><th>Quantity</th></tr>
    </table>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary btn-block btn-lg" href="#"><i class="fa fa-10x fa-check-circle" id="approveOrder" onclick="approve()"></i><br />Approve</a>
        </div>
        <!--
        <div class="col-6">
            <a class="btn btn-primary btn-block btn-lg" href="#"><i class="fa fa-10x fa-times-circle" id="declineOrder" onclick="StillInDevelopment()"></i><br />Decline</a>
        </div>
            -->
    </div>
</div>

<input type="hidden" value='@ViewContext.RouteData.Values["id"]' id="routeDataId" />
