@{
    ViewData["Title"] = "Approve";
}

<script src="~/js/confirm.js" type="text/javascript"></script>

<div class="text-center">
    <h1 class="display-4">
        Order Id: @(ViewContext.RouteData.Values["Id"])
    </h1>
</div>

<div class="row">
    <div class="col-6">
        <a class="btn btn-primary btn-block btn-lg" href="https://localhost:44300/Approve"><i class="fa fa-10x fa-check-circle" id="approveOrder" onclick="approveOrder()"></i><br />Approve</a>
    </div>
    <div class="col-6">
        <a class="btn btn-primary btn-block btn-lg" href="#"><i class="fa fa-10x fa-times-circle" id="declineOrder" onclick="StillInDevelopment()"></i><br />Decline</a>
    </div>
</div>


<!--
<div class="input-group" style="margin-top:20px">
    <div class="input-group-prepend">
        <span class="input-group-text">Comments</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" id="orderComment"></textarea>
</div>
-->

<input type="hidden" value='@ViewContext.RouteData.Values["id"]' id="routeDataId" />
