@model NotificationMessage

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />
<script src="~/js/home.js"></script>
<script src="~/lib/chartjs/dist/Chart.bundle.min.js"></script>
<link rel="stylesheet" href="~/lib/chartjs/dist/Chart.min.css" />


    <div class="row">
        <div class="col-6">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-6">
            <canvas id="myChart2"></canvas>
        </div>
     </div>
        

<div class="row" style="margin-top:20px">
    <div class="col-md-3">
        <div class="card-counter primary">
            <i class="fa fa-plane fa-3x"></i>
            <span class="count-numbers" id="AircraftCount">0</span>
            <span class="count-name">Aircrafts in Service</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-counter danger">
            <i class="fa fa-wrench fa-3x"></i>
            <span class="count-numbers" id="AircraftMaintenanceCount">0</span>
            <span class="count-name">Aircraft in Maintenance</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-counter success">
            <i class="fa fa-edit fa-3x"></i>
            <span class="count-numbers" id="PlanCount">0</span>
            <span class="count-name">Maintenance Plan</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-counter info">
            <i class="fa fa-sticky-note fa-3x"></i>
            <span class="count-numbers" id="OrderCount">0</span>
            <span class="count-name">Purchase Order</span>
        </div>
    </div>
</div>


