@{
    ViewData["Title"] = "Maintenance "+ ViewContext.RouteData.Values["Id"];
}

<div class="text-center">
    <h1 class="display-4">
        Maintenance Id: @(ViewContext.RouteData.Values["Id"])
    </h1>
</div>

<script src="~/js/maintenancedetail.js"></script>


<div class="container-fluid">
    <table class='table table-bordered table-condensed table-striped table-hover' id="tableMaintenanceDetails" style="display:none;">
        <tr><th>Aircraft Id</th><th>Maintenance Date</th></tr>
    </table>
</div>

<div class="container-fluid">
    <table class='table table-bordered table-condensed table-striped table-hover' id="tableMaintenancePart" style="display:none;">
        <tr><th>Part Id</th><th>Part Name</th></tr>
    </table>
</div>

<input type="hidden" value='@ViewContext.RouteData.Values["id"]' id="routeDataId" />