@{
    ViewData["Title"] = "MP" + ViewContext.RouteData.Values["Id"];
}

<link href="~/lib/datepicker.css" rel="stylesheet" type="text/css" />
<script src="~/lib/bootstrap-datepicker.js"></script>
<script src="~/js/maintenancedetail.js"></script>
<script src="~/js/date.js"></script>



<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            MP@(ViewContext.RouteData.Values["Id"])
        </a>
    </nav>
    <table class='table table-bordered table-condensed table-striped table-hover' id="tableMaintenanceDetails" style="display:none;">
        <tr><th>Aircraft Id</th><th>Maintenance Date</th></tr>
    </table>
    <table class='table table-bordered table-condensed table-striped table-hover' id="tableMaintenancePart" style="display:none;">
        <tr><th>Part Id</th><th>Part Name</th><th>Quantity</th></tr>
    </table>
    <!--
    <label>Schedule On: </label>
    <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
        <input class="form-control" type="text" readonly />
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" aria-describedby="basic-addon2" id="seconds">
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">minute from now</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" onclick="scheduleMaintenancePlan()">Schedule Maintenance Plan</button>
        -->
</div>



<input type="hidden" value='@ViewContext.RouteData.Values["id"]' id="routeDataId" />