@{
    ViewData["Title"] = "Finish Maintenance";
}

<script src="~/js/finishmaintenance.js" type="text/javascript"></script>

<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            Finish Maintenance Plan for AR@(ViewContext.RouteData.Values["Id"])
        </a>
    </nav>
    <table class='table table-bordered table-condensed table-striped table-hover' id="tableMaintenance" style="display:none; cursor:pointer ">
        <tr><th>Maintenance Id</th><th>Maintenance Date</th></tr>
    </table>
</div>


<input type="hidden" value='@ViewContext.RouteData.Values["id"]' id="routeDataId" />