@{
    ViewData["Title"] = "Generated Plan";
}


<div class="container">
    <div class="text-center">
        <h1 class="display-4">
            Aircraft Id: @(ViewContext.RouteData.Values["Id"])
        </h1>
    </div>
    </div>
