@{
    ViewData["Title"] = "Delete Part";
}

<div class="text-center">
    <h1 class="display-4">
        Engine Id: EG@(ViewContext.RouteData.Values["Id"])
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-1">
            <label>Part:</label>
        </div>
        <div class="col-2">
            <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" id="dropdown" data-toggle="dropdown" href="#">Select Part<span class="caret"></span></a>
                <ul class="dropdown-menu" id="SelectPartName"></ul>
            </div>
        </div>
        <div class="col-3">
            <a href="https://localhost:44300/Engine" type="submit" class="btn btn-primary" onclick="postEnginePart()">Remove Part from Engine</a>
        </div>
    </div>

</div>


<input type="hidden" value='@ViewContext.RouteData.Values["id"]' id="routeDataId" />
<script src="~/js/deleteengine.js"></script>
