@{
    ViewData["Title"] = "Aircraft Details";
}

<div class="text-center">
    <h1 class="display-4">
        Aircraft Id: @(ViewContext.RouteData.Values["Id"])
    </h1>
</div>

<div class="row">
    <div class="col-6">
        <a class="btn btn-primary btn-block btn-lg" href="https://localhost:44300/aircraft/manual/@(ViewContext.RouteData.Values["Id"])"><i class="fa fa-10x fa-hand-paper" id="predictManual"></i><br />Manual Prediction</a>
    </div>
    <div class="col-6">
        <button class="btn btn-primary btn-block btn-lg" href="https://localhost:44300/aircraft/auto/@(ViewContext.RouteData.Values["Id"])"><i class="fa fa-10x fa-robot" id="predictAuto"></i><br />Auto Prediction (Demo or Sensor)</button>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <a class="btn btn-primary btn-block btn-lg" href="https://localhost:44300/plan/create/@(ViewContext.RouteData.Values["Id"])" style="margin-top:20px"><i class="fa fa-10x fa-user-edit" id="createMaintenancePlan"></i><br />Make Maintenance Plan</a>
    </div>
    <div class="col-6">
        <a class="btn btn-primary btn-block btn-lg" href="https://localhost:44300/plan/create/@(ViewContext.RouteData.Values["Id"])" style="margin-top:20px"><i class="fa fa-10x fa-wrench" id="createMaintenancePlan"></i><br />Maintenance</a>
    </div>
</div>