@{
    ViewData["Title"] = "Generated Plan";
}


<link href="~/lib/datepicker.css" rel="stylesheet" type="text/css" />
<script src="~/lib/bootstrap-datepicker.js"></script>
<script src="~/js/generatemaintenance.js" type="text/javascript"></script>
<script src="~/js/date.js"></script>
<link rel="stylesheet" href="~/css/createmaintenance.css" />


<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            Generated Plan for AR@(ViewContext.RouteData.Values["Id"])
        </a>
    </nav>

    <div class="row">
        <div class="col-1">
            <label>Part:</label>
        </div>
        <div class="col-2">
            <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" id="dropdown" data-toggle="dropdown" href="#">Select Part<span class="caret"></span></a>
                <ul class="dropdown-menu" id="SelectPartName"></ul>
            </div>
        </div>

        <div class="col-1">
            <label>Quantity:</label>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="quantity-left-minus btn btn-danger btn-number" id="minus" data-type="minus" data-field="">
                        <span class="fa fa-minus"></span>
                    </button>
                </span>
                <input type="text" id="quantity" name="quantity" class="form-control input-number" value="0" min="0" max="100">
                <span class="input-group-btn">
                    <button type="button" class="quantity-right-plus btn btn-success btn-number" id="add" data-type="plus" data-field="">
                        <span class="fa fa-plus"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" onclick="productAddToTable()">Add</button>
        </div>
    </div>

    <table class='table table-bordered table-condensed table-striped table-hover' id="tableMaintenancePart" style="display:none;">
        <tr>
            <th>Part Id</th>
            <th class="col-2">Part Name</th>
            <th class="col-1">Quantity</th>
            <th class="col-1"></th>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary" onclick="createMaintenancePlan()">Create Maintenance Plan</button>


</div>

<input type="hidden" value='@ViewContext.RouteData.Values["id"]' id="routeDataId" />