@{
    ViewData["Title"] = "Manual Prediction";
}


<div class="text-center">
    <h1 class="display-4">
        Aircraft Id: @(ViewContext.RouteData.Values["Id"])
    </h1>
</div>

<div class="row">
    <div class="col-4 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Setting 1</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="setting1">
    </div>
    <div class="col-4 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Setting 2</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="setting2">
    </div>
    <div class="col-4 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Setting 3</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="setting3">
    </div>
</div>

<div class="row">
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 1</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s1">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 2</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s2">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 3</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s3">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 4</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s4">
    </div>

</div>

<div class="row">
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 5</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s5">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 6</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s6">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 7</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s7">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 8</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s8">
    </div>

</div>

<div class="row">
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 9</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s9">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 10</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s10">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 11</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s11">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 12</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s12">
    </div>

</div>

<div class="row">
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 13</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s13">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 14</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s14">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 15</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s15">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 16</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s16">
    </div>

</div>

<div class="row">
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 17</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s17">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 18</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s18">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 19</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s19">
    </div>
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 20</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s20">
    </div>

</div>

<div class="row">
    <div class="col-3 input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Sensor 21</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="s21">
    </div>

    <button type="submit" class="col-4 btn btn-primary" onclick="makePrediction()">Make Prediction</button>
    <div class="col-5"><p>Result: <span id="result"></span></p></div>


</div>

<script src="~/js/manual.js" type="text/javascript"></script>
