<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - SmartMaintenance</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/shared.css" />
    <link rel="stylesheet" href="~/css/fontawesome.css" />
    <script type="text/javascript" src="~/lib/moment.js"></script>

    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/all.min.js"></script>

    <!--alertify-->
    <script src="~/lib/alertify/alertify.min.js" type="text/javascript"></script>
    <link href="~/lib/alertify/alertify.min.css" rel="stylesheet">
    <link href="~/lib/alertify/default.css" rel="stylesheet">

    <script>
            //will only run once the page Document Object Model (DOM) is ready for JavaScript code to execute.
            $(document).ready(function () {

            // Remove the class active from id navigator and class list-group-item list-group-item-action bg-dark
             $("#navigator").find("a.list-group-item list-group-item-action bg-dark").removeClass("active");
            // Add active class accordingly to the controller
            $('#@(ViewContext.RouteData.Values["Controller"])').addClass('active');

        });
    </script>
</head>
<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark border-right border-dark" id="sidebar-wrapper">
            <div class="sidebar-heading bg-primary font-weight-bold">SmartMaintenance</div>
            <div id="navigator" class="list-group list-group-flush">

                @if (User.Identity.IsAuthenticated)
                {
                    <a id="Home" href="https://localhost:44300/Home" class="list-group-item list-group-item-action bg-dark"><i class="fa fa-home fa-fw" aria-hidden="true"></i>  Home</a>

                    if (User.IsInRole("Admin"))
                    {
                        <a id="Admin" href="https://localhost:44300/Admin" class="list-group-item list-group-item-action bg-dark"><i class="fa fa-user fa-fw" aria-hidden="true"></i>  Account</a>
                        <a id="RoleAdmin" href="https://localhost:44300/RoleAdmin" class="list-group-item list-group-item-action bg-dark"><i class="fa fa-user-tag fa-fw" aria-hidden="true"></i>  Role</a>

                    }
                    else if (User.IsInRole("Manager"))
                    {
                        <a id="Approve" href="https://localhost:44300/Approve" class="list-group-item list-group-item-action bg-dark"><i class="fa fa-user fa-check-circle" aria-hidden="true"></i>  Approve</a>

                    }
                    <a id="Aircraft" href="https://localhost:44300/Aircraft" class="list-group-item list-group-item-action bg-dark"><i class="fa fa-plane fa-fw" aria-hidden="true"></i>  Aircraft</a>
                    <a id="Plan" href="https://localhost:44300/Plan" class="list-group-item list-group-item-action bg-dark"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>  Maintenance Plan</a>
                    <a id="Purchase" href="https://localhost:44300/Purchase" class="list-group-item list-group-item-action bg-dark"><i class="fa fa-sticky-note fa-fw" aria-hidden="true"></i>  Purchase Order</a>
                    <a id="Inventory" href="https://localhost:44300/Inventory" class="list-group-item list-group-item-action bg-dark"><i class="fa fa-shopping-bag fa-fw" aria-hidden="true"></i>  Inventory</a>
                    <a id="Engine" href="https://localhost:44300/Engine" class="list-group-item list-group-item-action bg-dark"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>  Engine</a>
                    <a data-alias="Some Alias Here" class="list-group-item list-group-item-action bg-dark"></a>

                }
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark border-bottom" id="nvbar_mobile">
                <div class="navbar-nav mr-auto">
                    <button class="btn btn-primary" id="menu-toggle"><i id="icon-toggle" class="fa fa-bars"></i></button>
                </div>
                <!--<span class="navbar-brand navbar_text">@ViewData["Title"]</span>-->
                <!--if u want to use MVC tag helper, must use <a>...</a> attribute-->
                <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Logout</a>
            </nav>
            <div class="container-fluid">
                <input type="hidden" id="JWT" data-value=@HttpContextAccessor.HttpContext.Session.GetString("JWT") />
                <!-- mt= margin top in bootstrap-->
                <div class="mt-4">
                    <h1 class="mt-4">@ViewBag.Header</h1>
                    <!-- Create a partial view to prompt the user to accept the cookies and privacy concern
                    <partial name="_CookieConsentPartial" />-->

                    @RenderBody()
                </div>

            </div>
        </div>

        <script src="~/js/shared.js" asp-append-version="true"></script>
    </div>
</body>
</html>
